@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,400,500,600,700,800,900&display=swap');
/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/
@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

* {
  box-sizing: border-box !important;
  transition: ease all 0.5s;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #666666;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

h1 {
  font-size: 48px
}
h2 {
  font-size: 22px
}
h3 {
  font-size: 18px
}
h4 {
  font-size: 16px
}
h5 {
  font-size: 14px
}
h6 {
  font-size: 13px
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none!important;
  opacity: 1
}
button:focus {
  outline: none;
}
ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
p {
  margin: 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #110f0a;
}
a {
  color: #ffffff;
  text-decoration: none;
  outline: none !important;
}
.layout_padding {
  padding-bottom: 50px;
  padding-top: 90px;
}

.header_main {
  width: 100%;
  float: left;
}

.main-menu ul>li a {
  line-height: 20px;
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: #ffffff;
  padding: 22px 20px;
  text-transform: uppercase;
}

.main-menu ul {
  margin: 0;
  list-style-type: none;
  margin-bottom: 10px;
}

nav.main-menu {
  float: right;
  margin-left: 0;
}

.banner_section_start {
  width: 100%;
  float: left;
  background-color: #fefcfb;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #111111;
}

.main-menu ul li:first-child {
  margin-left: 0;
}

.main-menu ul>li {
  position: inherit;
  display: inline-block;
  vertical-align: middle;
}

.mean-container .mean-bar {
  background: #6f4e37;
}

.main-menu ul>li.active a {
  background-color: #ffffff;
  color: #e49da1;
}

.carousel-indicators .active {
  background-color: #ffffff;
}

.carousel-indicators li {
  background-color: #ffffff;
  height: 10px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background: #6f4e37;
}

.fa {
  line-height: 3px !important;
}

.padding_0 {
  padding: 0 !important;
}

.img-responive {
  max-width: 100%;
}

.gallery_blog img {
  width: 100%;
  min-height: 295px;
}

.gallery_blog {
  position: relative;
}

.gallery_blog .overlay {
  background: rgba(111,78,55,.9);
}

.gallery_blog h2 {
  color: #fff;
  line-height: 75px;
  width: 100%;
  text-align: center;
  font-size: 50pt;
  font-weight: 700;
}

.banner_section {
  width: 100%;
  float: left;
}

.banner_taital {
  width: 100%;
  float: left;
  font-size: 50pt;
  color: #e49da1;
  line-height: 75px;
}

.taital {
  margin-top: 50px;
}

.banner-image {
  width: 100%;
  float: left;
}

.lorem_text {
  width: 100%;
  float: left;
  margin-left: 0px;
}

.bt_main {
  width: 100%;
  float: left;
  background-color: #e49da1;
  height: 50px;
  font-size: 16pt;
  border: 0px;
  color: #fff;
}

.bt_main:hover {
  color: #000;
}

.banner_bt {
  width: 15%;
  margin: 0 auto;
}

.about_section {
  width: 100%;
  float: left;
}

.about_text {
  width: 100%;
  float: left;
  color: #e49da1;
  font-size: 50pt;
  border-bottom: 3px solid #111111;
  margin-top: 65px;
}

.color {
  color: #383737;
}

.about_taital {
  width: 100%;
  float: left;
  color: #686666;
  font-size: 14pt;
  margin-left: 0px;
  padding-top: 20px;
}

.read_more {
  width: 30%;
  float: left;
  background-color: #e49da1;
  height: 50px;
  font-size: 16pt;
  margin-top: 20px;
  border: 0px;
  color: #fff;
}

.read_more:hover {
  color: #000;
}

.product_section {
  width: 100%;
  float: left;
}

.product_text {
  width: 20%;
  float: left;
  color: #383737;
  font-size: 50pt;
  border-bottom: 3px solid #111111;
}

.den {
  color: #e49da1;
}

.product_section_2 {
  width: 100%;
  float: left;
  padding-top: 40px;
}

.den_text {
  width: 100%;
  float: left;
  text-align: center;
  color: #e49da1;
  font-weight: 700;
}

.den_text a {
  color: #6f4e37;
}

.den_text a:hover {
  color: #000;
}

.croissants {
  color: #000;
}

.croissants a:hover {
  color: #000;
}

.gallery_section {
  width: 100%;
  float: left;
}

.gallery_main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.gallery_taital {
  width: 100%;
  float: left;
  color: #383737;
  font-size: 50pt;
}

.our_text {
  color: #e49da1;
  border-bottom: 3px solid #111111;
}

.gallery_maain {
  width: 100%;
  float: left;
  margin-top: 50px;
}

.breads_text {
  width: 100%;
  float: left;
  text-align: center;
  color: #ffffff;
  font-size: 50pt;
  font-weight: 700;
}

.touch_main {
  width: 100%;
  float: left;
  margin-top: 50px;
}

.images {
  width: 100% !important;
  margin-bottom: 20px;
}

.input_main {
  width: 100%;
  float: left;
  background-color: #6f4e37;
  padding: 40px 20px 13px 20px;
}

.email-bt {
  background: #ffffff;
  border: none;
  color: #000;
  width: 100%;
  height: 55px;
  font-size: 16px;
  padding: 20px;
}

.send_btn {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.massage-bt {
  color: #000;
  border: none;
  width: 100%;
  height: 145px;
  font-size: 16px;
  padding: 20px;
}

button.main_bt {
  background: #302f2f;
  border: none;
  color: #fff;
  width: 150px;
  height: 50px;
  font-size: 22px;
  margin-top: 45px;
}

button.main_bt a:hover {
  color: #6f4e37;
}

.map_section {
  width: 100%;
  float: left;
  padding-top: 90px;
  background-color: #fefcfb;
  position: relative;
}

.contact_section {
  background-color: #e49da1;
  height: auto;
  padding-bottom: 45px;
  align-items: center;
  text-align: center;
}

.contact_text {
  width: 100%;
  color: #ffffff;
  border-bottom: 8px solid #ffffff;
  margin-bottom: 30px;
  text-align: center; 
}

.contact_section2 {
  background-color: #ffffff;
  height: auto;
}
.contact_section3{
  position: relative;
  background-color: #e49da1;
  height: 100px;
}
.contact_text2 {
  width: 100%;
  color: #ffffff;
  border-bottom-right-radius: 10%;
  border-bottom: 2px solid #7a6f6f;
  text-align: center; 
}

.contact_taital {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.adderess_text {
  color: #ffffff;
  width: 100%;
  font-size: 26pt;
  font-weight: 700;
  padding-top: 10px;
}

.image-icon {
  width: 100%;
  padding-top: 10px;
}

.email_text {
  font-size: 17px;
  color: #ebebeb;
}

.social_icon {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.social_icon ul {
  display: inline-flex;
  gap: 15px;             /* Espacio entre íconos */
  list-style: none;
  margin: 0;
  padding: 0;
}

.social_icon li {
  margin: 0;
  padding: 0;
}

.footer-img {
  width: 100%;
  margin-top: 15px;
}

.hello_images {
  width: 100%;
}

.container {
  position: relative;
}

.layout_padding2 {
  padding-top: 60px;
}

.gallery_blog {
  position: relative;
  width: 100%;
}

.gallery_blog:hover .overlay {
  opacity: 1;
}

.overlay {
  background-color: #e49da1;
}

.container:hover .overlay {
  opacity: 1;
}

#map {
  height: 100%;
  min-height: 480px;
}

.product_section_2 .images {
  border: solid #e7e4e3 23px;
}

.product_section_2 .images:hover {
  background-color: #e49da1;
}

#map {
  height: 100%;
  min-height: 480px;
}
.product_section_2 .images {
  border: solid #e7e4e3 23px;
}
.product_section_2 .images:hover {
  background-color: #e49da1;
}
@media (max-width: 768px) {
  .layout_padding {
      padding-bottom: 30px;
      padding-top: 50px;
  }
}
.taital {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 0 15px;
}

.about_section .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.read_more1 {
  width: 30%;
  height: 50px;
  font-size: 16pt;
  background-color: #e49da1;
  display: block;
  margin: 30px auto 0 auto;

}
.read_more1:hover{
  color:#000;
}
 /* menu */
.header {
  position: relative;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 150px;
}

.logo img {
  max-height: 250px;
}

.navbar-toggler {
  background: none;
  border: none;
  font-size: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: none;  /* solo aparece en mobile */
}

/* Menú normal (desktop) */
.menu-area {
  display: block;
}

.menu-area-main {
  list-style: none;
  background-color: #ffffff;
}

.menu-area-main li a {
  color: #e49da1;
  text-decoration: none;
  font-size: 16px;
}

.main-menu ul>li a {
  line-height: 20px;
  font-size: 20px;
  display: block;
  font-weight: 500;
  color: #e49da1;
  text-transform: uppercase;
}

/* ------------------------------------
   MOBILE: max-width 768px
-------------------------------------*/
@media (max-width: 768px) {

  .navbar-toggler {
    display: block;
    scale: 150%;
    margin-right: 50px;
  }
  .banner_taital {
    width: 100%;
    float: left;
    font-size: 20pt;
    color: #e49da1;
    line-height: 75px;
    
  }
  /* El menú oculto por defecto en mobile */
  .menu-area {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: none;
  }

  /* Al apretar el botón se muestra */
  .menu-area.show {
    display: block;
  }

  .menu-area-main {
    flex-direction: column;
    width: 100%;
  }

  .menu-area-main li {
    width: 100%;
  }

  .menu-area-main li a {
    padding: 20px;
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
  .main-menu ul>li a {
    line-height: 20px;
    font-size: 20px;
    display: block;
    font-weight: 500;
    color: #ffffff;
    background-color: #e49da1;;
    padding: 22px 20px;
    text-transform: uppercase;
    border: 1px solid rgb(254, 254, 254);
  }
  .main-menu ul>li.active a {
    background-color: #e49da1;
    color: #ffffff;
  }
}

.contact_section4 {
  height: 10px;
  background-color: #000000;
  border: 20px solid red;
}

.about_section{
  border-bottom: 1px solid black;
  margin-bottom: 100px;
}